<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980804728509-tnfg5e0t1si84qomfcked0q7v46v12ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980804728509-tnfg5e0t1si84qomfcked0q7v46v12ti</string>
	<key>API_KEY</key>
	<string>AIzaSyA4p3fNEFhmB9eQ_QphaZEJd891fWaZxOs</string>
	<key>GCM_SENDER_ID</key>
	<string>980804728509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.ukeshsaravanan.ChatAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>chat-app-swiftui-ca1d0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-swiftui-ca1d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980804728509:ios:dc064436fdac754b7d29d4</string>
</dict>
</plist>